/* Credits */
/**
 * @name Catpuccin
 * @author Carl00710
 * @version 0.1.0
 * @description A theme as cozy as a cup of coffee~
 * @source I made it the fuck up
*/

/* --------------------- @IMPORTS ----------------------*/
@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-maroon.theme.css"); /* Catpuccin Mocha (+ Maroon) */
// @import url("https://aushevahmad.github.io/awesome-css/modules/hiddenthreads.css"); /* Hidden Threads until hovering */
@import url("https://minidiscordthemes.github.io/Snippets/ForumImprovements/main.css"); /* Improves Forums UI because it's janky */

/* ---------------- BOTTOMLEFT PROFILE STUFF    --------*/
    /*Make it rounded*/
[class^="sidebar_"] [class^="panels_"] {
    margin-right: 5px;
    margin-bottom: -4px;
    margin-left: 5px;
    border-radius: 10px !important;
}

[class^="sidebar_"] [class^="panels_"] [class^="container_"], [class^="sidebar_"] [class^="panels_"] [class^="panel_"] {
    background-color: transparent !important;
 }

#vc-spotify-player {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    /* Move Mute, Deafen, Settings 3px to the left*/
.buttons__37e49, .micButtonParent__37e49 {
    margin-left: -3px;
    margin-right: -3px;
}

/* ------------ CHAT AND MEMBER LIST ------------------*/
.page_c48ade {
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -3px;
    margin-top: -3px;
}
/* ---------------      OTHER       -------------------*/
    /* Rounded Chat+Member List */
.chat_f75fb0, .sidebar_c48ade{
    margin-right: 8px;
    margin-bottom: 5px;
    margin-left: 0px;
    border-radius: 10px !important;

}


.root__4ad81/*Alone in VC*/,
[class="trailing_c38106"]/*top right items*/,
[href="/store"]/*DM Page, Nitro tab*/,
[aria-label="Apps"]/*textbox, App Launcher*/,
[aria-label="Send a gift"]/*textbox, gift nitro*/,
[aria-label="Open sticker picker"]/*textbox, stickers*/,
[aria-label="Discover"]/*server list*/,
[class="wrapper__42d45 theme-midnight"]/*DM page>quests, featured banner*/,
[class="searchBar_e6b769"]/*DM page, Ctrl+K searchbox (key combo still works)*/,
[class="container_b5b7aa"]/*Quest, all banners*/
{
    display: none;
}
